.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.stfolder/
.trash/
*.tmp
.DS_Store
node_modules/
.gemini/
conflict-files-obsidian-git.md
